:root {
  --color-background: #222;
  --color-text: #ddd;
  --color-text-hover: white;
  --color-text-dark: #666;
  --color-link-dark: hsl(222 50% 45%);
  --color-link-dark-hover: hsl(222 50% 50%);

  background-color: var(--color-background);
  color: var(--color-text);
  font-family: sans-serif;
}

.top {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  flex-grow: 1;
  font-size: 20px;
  font-weight: bold;
}

.top a:link {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}

.top a:visited {
  color: var(--color-text);
}

.top a:hover {
  color: var(--color-text-hover);
}

.example {
  display: flex;
  justify-content: center;
}

.bottom {
  text-align: center;
  color: var(--color-text-dark);
  font-style: italic;
}

.bottom a:link {
  color: var(--color-link-dark);
  text-decoration: none;
}

.bottom a:visited {
  color: var(--color-link-dark);
}

.bottom a:hover {
  color: var(--color-link-dark-hover);
}
