:root {
  --color-background: #222;
  --color-text: #ddd;
  --color-text-hover: white;
  --color-text-dark: hsl(0, 0%, 40%);
  --color-link-dark: hsl(345, 50%, 45%);
  --color-link-dark-hover: hsl(345, 50%, 50%);

  background-color: var(--color-background);
  color: var(--color-text);
  font-family: sans-serif;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  flex-grow: 1;
  font-size: 20px;
  font-weight: bold;
}

.top a:link {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}

.top a:visited {
  color: var(--color-text);
}

.top a:hover {
  color: var(--color-text-hover);
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.textbox {
  border: none;
  background-color: #111;
  padding: 5px;
  border-radius: 10px;
  color: grey;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

.textbox:focus {
  outline: 2px solid var(--color-link-dark-hover);
}

.bottom {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: var(--color-text-dark);
  font-style: italic;
}

.bottom a:link {
  color: var(--color-link-dark);
  text-decoration: none;
}

.bottom a:visited {
  color: var(--color-link-dark);
}

.bottom a:hover {
  color: var(--color-link-dark-hover);
}
